.nav.nav-bar {
  font-size: 15px;
}

#searchForm {
  margin-right: 100px;
}

.navbar-default .navbar-nav>.active>a {
  color: #F97924 !important;
}

@media (max-width: 1200px) {
  #searchForm { display: none }
}
